@model Snake.Client.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow-x:hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Game.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/JavascriptCookies.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        
        @@media (max-width:767px){
            html {
                overflow-y:visible;
            }
        }

        @@media (min-width:768px){
            html {
                overflow-y:hidden;
            }ddddd
        }
        
        p {
            text-align: left;
        }

        canvas {
            width: 750px;
            border-radius:50%;
            height: 750px;
            background-color:white;
        }

        .panel button{
            float:right;
        }
    </style>
</head>
<body>
    <div class="btn btn-primary">
        Text
    </div>
</body>

</html>