
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<h2 style="padding:15px;">Register</h2>

<form class="form-horizontal" method="post" action="/Home/Register">
    <fieldset>
        <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" name="Username" class="form-control" id="Username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" name="Password" class="form-control" id="Password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </fieldset>
</form>

